.App {
  text-align: center;
}
.todo-row{
  padding: 5px;
  margin: 10px;
  border-radius: 6px;
  border: 1px solid #333;
}
.delete{
  margin: 5px;
  color: rgb(116, 16, 16);

}
.edit{
margin: 2px;
color: #333;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.todo-form{
  padding: 5px;
  margin: 10px;
}
.todo-text{
  padding: 5px;
  color: #666;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
